@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary-clr:#8EBE21;
}


body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.primary-clr{
  color:var(--primary-clr);
}

.primary-clr-bg{
  background-color:var(--primary-clr);
}