:root {
  --tblr-primary: var(--primary-clr);
  --primary-clr: #8ebe21; 
}

.btn-primary {
  background-color: var(--tblr-primary);
  border-color: var(--tblr-primary);
}

.form-control:focus {
  border-color: var(--tblr-primary);
  box-shadow: 0 0 0 0.25rem rgba(142, 190, 33, 0.25);  
}

.card {
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -4px rgba(0, 0, 0, 0.1);
}

.input-group .btn {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}